.background-history {
  background-image: url("/img/asset-history/asset-background-history.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

.heading-1 h4 {
  text-shadow: 1px 5px 1px #000;
  font-weight: bold;
  color: #fff;
}

.span-1 {
  text-shadow: 1px 5px 1px #000;
  font-weight: bold;
  color: #fff;
}

.btn-check {
  background-color: bisque;
}

.btn-check:enabled {
  background-color: #000;
}

footer {
  position: relative;
  top: 10em;
}
